<div>
    <form name="form" role="form" novalidate
          class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
          ng-submit="create()">

        <div class="modal-header">
            <h2 translate="speaker.create">Speakers</h2>
        </div>
        <div class="modal-body">

            <div class="form-group">
                <label>ID</label>
                <input type="text" class="form-control" name="id" ng-model="entity.id" readonly>
            </div>

            <uai-form-group label-translate="speaker.name" label="Name">
                <input type="text" class="form-control" name="name" ng-model="speaker.name"  ng-minlength=2 ng-maxlength=255 required>
            </uai-form-group>

            <uai-form-group label-translate="speaker.description.short" label="Description">
                <input type="text" class="form-control" name="description" ng-model="speaker.description"  ng-minlength=10 ng-maxlength=144 required>
            </uai-form-group>

            <uai-form-group label-translate="speaker.description.long" label="Long description">
                <input type="text" class="form-control" name="longDescription" ng-model="speaker.longDescription">
            </uai-form-group>

        </div>
        <div class="modal-footer">
            <a href="#/speaker" class="btn btn-default">
                <span class="fa fa-ban"></span> <span ng-translate="action.cancel">Cancel</span>
            </a>
            <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
                <span class="fa fa-save"></span> <span ng-translate="action.save">Save</span>
            </button>
        </div>
    </form>
</div>
