<div>

    <h2 translate="speaker.speakers">Speakers</h2>

    <a class="btn btn-primary btn-lg" href="#/speaker/create">
        <span class="glyphicon glyphicon-flash"></span> <span translate="speaker.create">Create a new Speaker</span>
    </a>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="entity.id">ID</th>
                    <th translate="speaker.name">Name</th>
                    <th translate="speaker.description.short">Short Description</th>
                    <th translate="speaker.description.long">Long Description</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="speaker in speakers">
                    <td>{{speaker.id}}</td>
                    <td>{{speaker.name}}</td>
                    <td>{{speaker.description}}</td>
                     <td>{{speaker.longDescription}}</td>
                    <td>
                        <a href="#/speaker/{{speaker.id}}" class="btn btn-default">
                            <span class="fa fa-folder-open"></span> <span translate="entity.view">View</span>
                        </a>
                        <a href="#/speaker/{{speaker.id}}/edit" class="btn btn-default">
                            <span class="fa fa-pencil"></span> <span translate="entity.edit">Edit</span>
                        </a>
                        <a class="btn btn-danger" uai-confirm confirm-ok="delete(speaker.id)" confirm-message-translate="confirm.delete" item="speaker.id">
                            <span class="fa fa-remove"></span> <span translate="entity.delete">Delete</span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
