<div>

    <div class="text-right">
        <a href="#/speaker" class="btn btn-default">
            <span class="fa fa-arrow-left"></span> <span ng-translate="speaker.title">Voltar</span>
        </a>
    </div>
    <div class="page-header text-center">
        <img ng-src="{{speaker.photo}}" ng-if="speaker.photo != null">
        <img holder-img="holder.js/253x253" ng-if="speaker.photo == null">
        <h1><span translate="speaker">Speaker</span>: {{speaker.name}}</h1>
        <h2><small>{{speaker.description}}</small></h2>
    </div>
    <div class="text-center">
        <span class="fa fa-quote-left">
        <span ng-if="speaker.longDescription">{{speaker.longDescription}}</span>
        <span ng-if="!speaker.longDescription">O palestrante não forneceu uma descrição longa.</span>
        <span class="fa fa-quote-right">
    </div>
</div>
